@font-face 
{
	font-family: 'Press Start 2P', monospace;
	src: url(../fontes/ANODETONOONE.TTF);
}

h1 
{
	font-family: 'Press Start 2P', monospace;
	font-size: 40px;
    color: #000;
    text-align: center;
}

body 
{
  height: 100%;               /* corpo ocupa altura total */
  margin: 0;                  /* remove margens padrão */
  display: flex;              /* usa flexbox */
  justify-content: center;    /* centraliza horizontal */
  align-items: center;        /* centraliza vertical */
  background-image: url(../img/gif-fundo.gif); /* seu fundo animado */
  background-size: cover;     /* cobre toda a tela */
  background-position: center;
  overflow: hidden;
}


#container 
{
	width: 950px;
	height: 630px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}


#fundoGame 
{
	width: 950px;
	height: 630px;
	background-image: url(../img/Fundo-jogo.jpg);
	border-color: #FFF;
	border-style: solid;
	overflow: hidden;
}

#jogador 
{
	width: 95px;
	height: 60px;
	position: absolute;
	left: 8px;
	top: 179px;
    background-image: url(../img/Jogador.png);
	overflow: hidden;
}

#inimigo1 
{
	width: 70px;
	height: 40px;
	position: absolute;
	left: 689px;
	top: 253px;
	background-image: url(../img/UFO-inimigo1.png);
	overflow: hidden;
}

#inimigo2 
{
	width: 55px;
	height: 50px;
	position: absolute;
	left: 775px;
	top: 447px;
	background-image: url(../img/UFO-inimigo2.png);
	overflow: hidden;
}

#moeda
{
	width: 50px;
	height: 70px;
	position: absolute;
	left: 10px;
	top: 464px;
	background-image: url(../img/Coin.png);
}

#vida
{
	width: 100px;
	height: 75px;
	position: absolute;
	left: 10px;
	top: 464px;
	background-image: url(../img/Vida-cheia.png);
}

#inicio 
{
	width: 350px;
	height: 305px;
	background-color: #FFF;
 	margin-left: auto;
    margin-right: auto;
 	margin-top: 100px;
    padding: 10px;
	position: absolute;     
  	top: 35%;               
 	left: 50%;              
 	transform: translate(-50%, -50%); /* centraliza no meio */
 	z-index: 500;           /* garante que fica acima do fundo */
 	text-align: center;
	font-family: 'Press Start 2P', monospace;
}

p
{
    text-align: center;
}

ul 
{
    list-style: none;
}

@keyframes play 
{
	from { background-position: 0px; }
	to { background-position: -512px; }
}

@-webkit-keyframes play 
{
    from { background-position:0px; }
    to { background-position: -512px; }
 }
 
 @-moz-keyframes play 
 {
    from { background-position:0px; }
    to { background-position: -512px; }
 }
 
 @-ms-keyframes play 
 {
    from { background-position:0px; }
    to { background-position: -512px; }
 }
 
 @-o-keyframes play 
 {
    from { background-position:0px; }
    to { background-position: -512px; }
 }

@keyframes play2 
{
	from { background-position: 0px; }
	to { background-position: -528px; }
}

@-webkit-keyframes play2 
{
   from { background-position: 0px; }
   to { background-position: -528px; }
}

@-moz-keyframes play2 
{
   from { background-position: 0px; }
   to { background-position: -528px; }
}

@-ms-keyframes play2 
{
   from { background-position: 0px; }
   to { background-position: -528px; }
}

@-o-keyframes play2 
{
   from { background-position: 0px; }
   to { background-position: -528px; }
}

#disparo 
{
	width: 50px;
	height: 16px;
	position: absolute;
	background-image: url(../img/disparo.png);
	overflow: hidden;
}

#explosao1 
{
	width: 15px;
	height: 87px;
	position: absolute;
	overflow: hidden;
}

#explosao2 
{
	width: 15px;
	height: 87px;
	position: absolute;
	overflow: hidden;
}

@keyframes play3 
{
	from { background-position: 0px; } 
	to { background-position: -308px; }
}

@-webkit-keyframes play3 
{
   from { background-position: 0px; }
   to { background-position: -308px; }
}

@-moz-keyframes play3 {
   from { background-position: 0px; }
   to { background-position: -308px; }
}

@-ms-keyframes play3 
{
   from { background-position: 0px; }
   to { background-position: -308px; }
}

@-o-keyframes play3 
{
   from { background-position: 0px; }
   to { background-position: -308px; }
}

/* Score */
#placar {
  position: absolute;
  bottom: 10px;
  left: 10px;  
  background-color: #000000;
  border: 3px solid #FFFFFF;
  padding: 10px 15px;
  border-radius: 0;
  pointer-events: none;
  z-index: 1000;
}

/* CSS para o TEXTO "h2" dentro do placar */
#placar h2 {
  font-family: 'Press Start 2P', monospace;
  color: #FFFFFF;
  font-size: 16px;
  text-shadow: 2px 2px #222222;
  margin: 0;
  padding: 0;
}

h2 
{
	font-family: 'Press Start 2P', monospace;
	font-size: 20px;
	color: #FFF
}

#energia 
{
	width: 140px;
	height: 38px;
	position: absolute;
	left: 750px;
	top: 7px;	
}

h3 
{
	font-family: 'Press Start 2P', monospace;
	font-size: 20px;
	color: #000;
}

#fim
{
	width: 350px;
	height: 245px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
 	margin-top: 100px;
	text-align: center;
	padding: 10px;
	font-family: 'Press Start 2P', monospace;
}

#timer {
  position: absolute;
  top: 10px;
  left: 10px;  
  background-color: #000000;
  border: 3px solid #FFFFFF;
  padding: 10px 15px;
  border-radius: 0;
  pointer-events: none;
  z-index: 1000;
  font-family: 'Press Start 2P', monospace;
  color: #FFFFFF;
  font-size: 16px;
  text-shadow: 2px 2px #222222;
  margin: 0;
  padding: 0;
}

#Menu
{
	width: 350px;
	height: 45px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
 	margin-top: 100px;
	text-align: center;
	padding: 10px;
	font-family: 'Press Start 2P', monospace;
}